@{
    Layout="_Layout";
    string c = ViewContext.RouteData.Values["controller"].ToString() ?? "";
    string a = ViewContext.RouteData.Values["action"].ToString() ?? "";
    string area = ViewContext.RouteData.Values["area"].ToString() ?? "";
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link @(area=="Admin" && c=="Home" && a=="Index" ? "active" : "")" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(c=="Bicycle" && a=="List" ? "active" : "")" asp-area="Admin" asp-controller="Bicycle" asp-action="List" asp-route-brand="all">Bicycles</a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a class="nav-link @(area == "" && c=="Home" && a=="Index" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Main Site</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
 @section scripts{
     @await RenderSectionAsync("scripts", required: false)
  }
